[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SuperLearner"]
	path = SuperLearner
	url = https://github.com/ecpolley/superlearner
